<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <root>
      <level value="Info"/>
    </root>
    <logger name="Default">
      <level value="ALL"/>
      <appender-ref ref="Default"/>
    </logger>
    <logger name="jobBackup">
      <level value="ALL"/>
      <appender-ref ref="jobBackup"/>
    </logger>
    <logger name="JobRefresh">
      <level value="ALL"/>
      <appender-ref ref="JobRefresh"/>
    </logger>
    <logger name="jobDEL_HistoryData_3">
      <level value="ALL"/>
      <appender-ref ref="jobDEL_HistoryData_3"/>
    </logger>
    <logger name="jobHouseKeepingFile">
      <level value="ALL"/>
      <appender-ref ref="jobHouseKeepingFile"/>
    </logger>
    <logger name="Htg">
      <level value="ALL"/>
      <appender-ref ref="Htg"/>
    </logger>
    
    <appender name="Default" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\Default\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="jobBackup" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\jobBackup\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>	
    <appender name="JobRefresh" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\JobRefresh\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="jobDEL_HistoryData_3" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\jobDEL_HistoryData_3\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="jobHouseKeepingFile" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\jobHouseKeepingFile\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
	
    <appender name="Htg" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="LogXml\Default\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
  </log4net>
</configuration>
