<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CSIPPayCertify.BusinessRules.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CSIPPayCertify.BusinessRules.Properties.Settings>
            <setting name="CSIPPayCertify_BusinessRules_WS_PayOff_WS_PayOff" serializeAs="String">
                <value>http://10.5.17.146/ICP/WebServices/Macro/WS_PayOff.asmx</value>
            </setting>
        </CSIPPayCertify.BusinessRules.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
