<?xml version="1.0" encoding="utf-8"?>
<Root>
  <ActionCodeSettings>
    <Code key="Search" value="1"  />
    <!--查詢-->
  </ActionCodeSettings>
	<Pages>
    <!-- 01 清償證明-->
    <Page url="~/Page/P040101010001.aspx" name="新增清償證明" functionid="01010100" by="Search"></Page>
    <Page url="~/Page/P040101010002.aspx" name="新增清償證明" functionid="01010100" by="Search"></Page>
	<Page url="~/Page/P040101010003.aspx" name="新增清償證明" functionid="01010100" by="Search"></Page>
	<Page url="~/Page/P040101010004.aspx" name="新增清償證明" functionid="01010100" by="Search"></Page>
    <Page url="~/Page/P040101020001.aspx" name="修改清償證明" functionid="01010200" by="Search"></Page>
    <Page url="~/Page/P040101020002.aspx" name="修改清償證明" functionid="01010200" by="Search"></Page>
	<Page url="~/Page/P040101030001.aspx" name="註銷清償證明" functionid="01010300" by="Search"></Page>
	<Page url="~/Page/P040101040001.aspx" name="退件清償證明" functionid="01010400" by="Search"></Page>
	<Page url="~/Page/P040101040002.aspx" name="退件清償證明" functionid="01010400" by="Search"></Page>
    <Page url="~/Page/P040102050001.aspx" name="記錄查詢" functionid="01020500" by="Search"></Page>
    <Page url="~/Page/P040102030001.aspx" name="列印清償證明" functionid="01020300" by="Search"></Page>
    <Page url="~/Page/P040102030002.aspx" name="清償證明詳細" functionid="01020300" by="Search"></Page>
    <Page url="~/Page/P040102030003.aspx" name="清償證明報表" functionid="01020300" by="Search"></Page>
    <Page url="~/Page/P040102030004.aspx" name="清償證明全部報表" functionid="01020300" by="Search"></Page>
    <!-- 02 債清證明-->
    <Page url="~/Page/P040201010001.aspx" name="驗證及開立" functionid="02010100" by="Search"></Page>
    <Page url="~/Page/P040201010002.aspx" name="驗證及開立_報表" functionid="02010100" by="Search"></Page>
    <Page url="~/Page/P040201010003.aspx" name="驗證及開立_MACROS" functionid="02010100" by="Search"></Page>
	<Page url="~/Page/P040201030001.aspx" name="註銷債清證明" functionid="02010300" by="Search"></Page>
	<Page url="~/Page/P040201040001.aspx" name="退件清償證明" functionid="02010400" by="Search"></Page>
    <Page url="~/Page/P040201040002.aspx" name="退件清償證明" functionid="02010400" by="Search"></Page>
    <Page url="~/Page/P040202030001.aspx" name="列印債清證明" functionid="02020300" by="Search"></Page>
    <Page url="~/Page/P040202030002.aspx" name="債清證明詳細" functionid="02020300" by="Search"></Page>
    <Page url="~/Page/P040202030003.aspx" name="債清證明報表" functionid="02020300" by="Search"></Page>
    <Page url="~/Page/P040202030004.aspx" name="債清證明全部報表" functionid="02020300" by="Search"></Page>
    <Page url="~/Page/P040201050001.aspx" name="匯入清單明細" functionid="02010500" by="Search"></Page>
		<Page url="~/Page/P040201050002.aspx" name="匯入清單明細_退件原因" functionid="02010500" by="Search"></Page>
    <Page url="~/Page/P040202050001.aspx" name="記錄查詢" functionid="02020500" by="Search"></Page>

    <Page url="~/Page/P040302010001.ASPX" name="查詢已開立結清證明" functionid="03020100" by="Search"></Page>
    <Page url="~/Page/P040402010001.ASPX" name="查詢已開立代償證明" functionid="04020100" by="Search"></Page>
    <Page url="~/Page/P040302020001.ASPX" name="列印自取簽收表" functionid="03020200" by="Search"></Page>
    <Page url="~/Page/P040402040001.aspx" name="列印代償證明書" functionid="04020400" by="Search"></Page>

    <Page url="~/Page/P040302040001.aspx" name="列印結清證明書" functionid="03020400" by="Search"></Page>
    <Page url="~/Page/P040402020001.ASPX" name="列印自取簽收表" functionid="04020200" by="Search"></Page>
    <Page url="~/Page/P040302030001.ASPX" name="列印ML結清證明開立登記表" functionid="03020300" by="Search"></Page>
    <Page url="~/Page/P040402030001.ASPX" name="列印ML代償證明開立登記表" functionid="04020300" by="Search"></Page>

    <Page url="~/Page/P040302060001.ASPX" name="列印大宗掛號函件存根聯" functionid="03020600" by="Search"></Page>
    <Page url="~/Page/P040402060001.ASPX" name="列印大宗掛號函件存根聯" functionid="04020600" by="Search"></Page>

    <Page url="~/Page/P040301030001.aspx" name="作廢結清證明" functionid="03010300" by="Search"></Page>
    <Page url="~/Page/P040301030002.aspx" name="作廢結清證明" functionid="03010300" by="Search"></Page>
    <Page url="~/Page/P040301040001.aspx" name="退件結清證明" functionid="03010400" by="Search"></Page>
    <Page url="~/Page/P040301040002.aspx" name="退件結清證明" functionid="03010400" by="Search"></Page>
    <Page url="~/Page/P040401030001.aspx" name="作廢代償證明" functionid="04010300" by="Search"></Page>
    <Page url="~/Page/P040401030002.aspx" name="作廢代償證明" functionid="04010300" by="Search"></Page>
    <Page url="~/Page/P040401040001.aspx" name="退件代償證明" functionid="04010400" by="Search"></Page>
    <Page url="~/Page/P040401040002.aspx" name="退件代償證明" functionid="04010400" by="Search"></Page>
    <Page url="~/Page/P040301010001.aspx" name="新增結清證明" functionid="03010100" by="Search"></Page>
    <Page url="~/Page/P040301020001.aspx" name="修改結清證明" functionid="03010200" by="Search"></Page>
    <Page url="~/Page/P040301020002.aspx" name="修改結清證明" functionid="03010200" by="Search"></Page>
    <Page url="~/Page/P040401020001.aspx" name="修改代償證明" functionid="04010200" by="Search"></Page>
    <Page url="~/Page/P040401020002.aspx" name="修改代償證明" functionid="04010200" by="Search"></Page>
    <Page url="~/Page/P040302050001.aspx" name="列印結清證明附件" functionid="03020500" by="Search"></Page>
    <Page url="~/Page/P040302050002.aspx" name="列印結清證明附件" functionid="03020500" by="Search"></Page>
    <Page url="~/Page/P040302050003.aspx" name="列印結清證明附件" functionid="03020500" by="Search"></Page>
    <Page url="~/Page/P040302050004.aspx" name="列印結清證明附件" functionid="03020500" by="Search"></Page>
    <Page url="~/Page/P040302050005.aspx" name="列印結清證明附件" functionid="03020500" by="Search"></Page>
    <Page url="~/Page/P040302050006.aspx" name="列印結清證明附件" functionid="03020500" by="Search"></Page>
    <Page url="~/Page/P040402050001.aspx" name="列印代償證明附件" functionid="04020500" by="Search"></Page>
    <Page url="~/Page/P040402050002.aspx" name="列印代償證明附件" functionid="04020500" by="Search"></Page>
    <Page url="~/Page/P040402050003.aspx" name="列印代償證明附件" functionid="04020500" by="Search"></Page>
    <Page url="~/Page/P040402050004.aspx" name="列印代償證明附件" functionid="04020500" by="Search"></Page>
    <Page url="~/Page/P040402050005.aspx" name="列印代償證明附件" functionid="04020500" by="Search"></Page>
    <Page url="~/Page/P040402050006.aspx" name="列印代償證明附件" functionid="04020500" by="Search"></Page>
    <Page url="~/Page/P040401010001.aspx" name="新增代償證明" functionid="04010100" by="Search"></Page>

    <Page url="~/Page/P040102040001.ASPX" name="清償證明查詢" functionid="01020400" by="Search"></Page>
    <Page url="~/Page/P040102040002.ASPX" name="清償證明查詢明細" functionid="01020400" by="Search"></Page>
    <Page url="~/Page/P040202040001.ASPX" name="債清證明查詢" functionid="02020400" by="Search"></Page>
    <Page url="~/Page/P040202040002.ASPX" name="債清證明查詢明細" functionid="02020400" by="Search"></Page>
    <Page url="~/Page/P040202060001.ASPX" name="剔退記錄查詢" functionid="02020600" by="Search"></Page>
    <Page url="~/Page/P040202060002.ASPX" name="剔退記錄查詢_報表" functionid="02020600" by="Search"></Page>
    <Page url="~/Page/P040102020001.ASPX" name="大宗掛號報表" functionid="01020200" by="Search"></Page>
    <Page url="~/Page/P040102020002.ASPX" name="大宗掛號函件存根聯" functionid="01020200" by="Search"></Page>

	<Page url="~/Page/P040102010001.ASPX" name="清償證明統計表" functionid="01020100" by="Search"></Page>
	<Page url="~/Page/P040102010002.ASPX" name="清償證明統計表" functionid="01020100" by="Search"></Page>
		
	<Page url="~/Page/P040202010001.ASPX" name="債清證明統計表" functionid="02020100" by="Search"></Page>
	<Page url="~/Page/P040202010002.ASPX" name="債清證明統計表" functionid="02020100" by="Search"></Page>

	<Page url="~/Page/P040201020001.ASPX" name="修改債清證明" functionid="02010200" by="Search"></Page>
	<Page url="~/Page/P040201020002.ASPX" name="修改債清證明" functionid="02010200" by="Search"></Page>
  </Pages>
</Root>

